<div class="card">
	{{#if picurl}}<div class="img-holder"><img src="//interactivegraphics.ft-static.com/static/profiles/meet-the-fed/images/content/{{picurl}}" class="card__img" /></div>	{{/if}}
	<div class="card__body">
      <p class="year">{{year}}</p>
			<h3 class="card__title name">{{name}}</h3> 
			<p class="job">{{description}}</p>
			<p class="standfirst">{{headline}}</p>
	</div>
	{{#if linkurl}}<a class="story-promo" href="{{linkurl}}"><span class="link">Full profile</span></a>{{/if}}
</div>