<h1 class="headline">{{options.title}}</h1>
<div class="main-image"><img src="https://ig.ft.com/static/profiles/meet-the-fed/images/content/{{options.mainpic}}" alt=""/></div> 
<div class="intro">{{{linebreaks options.intro}}}</div>




<div id="table" class="intro">
  <table style="width:100%">
  <tr>
    <td class="link"><a href="#dove">Doves</a></td>
    <td class="link"><a href="#hawk">Hawks</a></td> 
    <td class="link"><a href="#other">Other</a></td>
  </tr>
  <tr>
    <td>Janet Yellen</td>
    <td>Stanley Fischer</td> 
    <td>Jerome Powell</td>
  </tr>
    <tr>
    <td>Lael Brainard</td>
    <td>Loretta Mester</td> 
    <td>Kathryn Dominguez</td>
  </tr>
    <tr>
    <td>Daniel Tarullo</td>
    <td>Esther George</td> 
    <td>Allan Landon</td>
  </tr>
    <tr>
    <td>William Dudley</td>
    <td>James Bullard</td> 
    <td></td>
  </tr>
    <tr>
    <td>Eric Rosengren</td>
    <td></td> 
    <td></td>
  </tr>
</table>
</div>


<div class="content" class="o-grid-row"></div>
<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status={{options.twitterText}}">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="{{options.facebookText}}">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="{{options.linkedinText}}">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="byline"></div>