<h1 class="headline">{{options.title}}</h1>
<div class="main-image"><img src="https://ig.ft.com/static/profiles/meet-the-fed/images/content/{{options.mainpic}}" alt=""/></div> 
<div class="intro">{{{linebreaks options.intro}}}</div>




<div id="table" class="intro">
  <table style="width:100%">
  <tr>
    <th>the doves</th>
    <th>the hawks</th> 
    <th>Others</th>
  </tr>
  <tr>
    <td><a href="#yellen">Janet Yellen</a></td>
    <td><a href="#fischer">Stanley Fischer</a></td> 
    <td><a href="#powell">Jerome Powell</a></td>
  </tr>
    <tr>
    <td><a href="#brainard">Lael Brainard</a></td>
    <td><a href="#harker">Patrick Harker</a></td> 
    <td><a href="#dominguez">Kathryn Dominguez</a></td>
  </tr>
    <tr>
    <td><a href="#tarullo">Daniel Tarullo</a></td>
    <td></td> 
    <td><a href="#landon">Allan Landon</a></td>
  </tr>
    <tr>
    <td><a href="#dudley">William Dudley</a></td>
    <td></td> 
    <td><a href="#kaplan">Robert Kaplan</a></td>
  </tr>
    <tr>
    <td><a href="evans">Charles Evans</a></td>
    <td></td> 
    <td></td>
  </tr>
  </tr>
    <tr>
    <td><a href="kashkari">Neel Kashkari</a></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>


<div class="content" class="o-grid-row"></div>
<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status={{options.twitterText}}">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="{{options.facebookText}}">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="{{options.linkedinText}}">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="byline"></div>
